.navbar {
     display: flex;
     height: 50px;
     width: 100%;
}
.navbar-left {
     display: flex;
     justify-content: flex-start;
     height: 100%;
     width: 100%;
}
.navbar-right { 
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 30%;
}
.navbar-right > * {
     margin: 10px;
}
.nav-link {
     font-size: 30px;
     height: 100%;
     margin-right: 20px;
     background-color: rgb(184, 190, 190);
}
.nav-link:hover {
     background-color: rgb(152, 156, 156);
     cursor: pointer;
}

.right-space {
     width: 60px;
}
.nav-logo {
     height: 100%;
     width: auto;
}
.register-btn {
     padding: 10px;
     text-align: center;
     background-color: rgb(255, 62, 62);
     color: white;
     border-radius: 20px;
     cursor: pointer;
}
.register-btn:hover {
     background-color: rgb(210, 54, 54);
}
.login-btn {
     font-size: 20px;
     font-weight: 600;
     color: #008520;
     text-decoration: #008520;
}
.login-btn:hover {
     font-size: 24px;
     font-weight: 600;
     color: #00a326;
}